version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    container_name: task-tracker-api
    ports:
      - '8080:8080'
    volumes:
      - .:/app
    env_file:
      - .env
    working_dir: /app
    command: ['go', 'run', './cmd/server']
